<!DOCTYPE html>
<html>
<head>
  <title>Pusherrr</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'http://js.pusher.com/2.2/pusher.min.js', data: { turbolinks_track: true } %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
